RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^imeldaudoh\.com\.ng$ [OR]
RewriteCond %{HTTP_HOST} ^www\.imeldaudoh\.com\.ng$
RewriteRule ^(.*)$ https://imeldaudoh.com.ng/$1 [R=301,L]